:root {
  --detalhe_bg: linear-gradient(#b6f829, #67dd0a);
}
body {
  margin: 0px;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

h1,
h2,
h3 {
  margin: 0px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  max-width: 100%;
  display: Block;
}

a {
  text-decoration: none;
  color: black;
}

.subtitulo {
  font-size: 8rem;
  text-transform: uppercase;
  word-break: break-all;
  line-height: 1;
  max-width: 4ch;
}
